<div class="login_container">
	<form method="post" action="/usernameTest" class="search-wrapper cf">
		<input style="margin-right: 5px" type="text" name="realname" placeholder="Name" required="">
        <input style="margin-right: 5px" type="text" name="uname" placeholder="Username" required="">
        <input style="margin-right: 5px" type="text" name="pword" placeholder="Password" required="">
        <button type="submit">Sign Up</button>
    </form>
</div>

<form method="post" action="/cleardb" class="search-wrapper cf">
    <button type="submit">Clear</button>
</form>

<%=group %>

