<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tutor Me</title>
        <link rel="stylesheet" href="/stylesheets/linksstyle.css">
    </head>
    <body>
        <h1>Tutor Me Links</h1>
        <button type="button"><a href="/">Home Page</a></button>
        <button type="button"><a href="homepage">Home Page - User</a></button>
        <button type="button"><a href="signup">Sign Up</a></button>
        <button type="button"><a href="weekView">View Appointments</a></button>
        <button type="button"><a href="profile">Profile Page</a></button>
        <button type="button"><a href="editProfile">Edit Profile Page</a></button>
        <button type="button"><a href="search">Search Page</button>
        <button type="button"><a href="message">Messaging Page</a></button>
        <button type="button"><a href="inbox">Inbox Page</a></button>
        <button type="button"><a href="review">Reviewing Page</a></button>
    </body>
</html>