@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Francois+One);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
    height:100%;
    background-color: #ffffff;
    margin:0px;
    width: 100%;
    background-color: #599d8a;
}

html {
	height: 100%;
	width: 100%;
}

h1 {
    padding: 10px;
    font-family: 'Francois One', sans-serif;
}

h2 {
    text-align: center;
    padding-top: 100px;
    color: white;
    font-family: 'Bree Serif', serif;
}

p {
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
}

/* Header Styles */
.header {
    width:100%;
    height:75px;
    background-color: #137458;
    overflow: hidden;
}

#logo{
	padding-left: 15px;
}

/* Search bar */
.login_container{
	position: absolute;
	right: 0px;
	padding-right: 15px;
	margin-top: -100px;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

 /* Search bar - Form wrapper styling */
.search-wrapper {
width: 438px;
margin: 45px auto 50px auto;
box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}
 
/* Search bar - Form text input */
.search-wrapper input {
width: 168px;
height: 20px;
padding: 10px 5px;
float: left;
font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
border: 0;
background: #EEE;
border-radius: 3px 0 0 3px;
}
 
.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Search bar - Form submit button */
.search-wrapper button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	height: 40px;
	width: 72px;
	color: white;
	text-transform: uppercase;
	background: #aaaaaa;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
   
.search-wrapper button:hover{     
    background: #599d8a;
}   
   
.search-wrapper button:active,
.search-wrapper button:focus{   
    background: #599d8a;
    outline: 0;   
}
       
.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    

.info_background{
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#262A2B;
    background-image: url(/images/books.jpeg);
    margin: 0 auto;
    overflow:hidden;
    margin-bottom: 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}

.site_info {
    border-radius: 15px;
    width: 60%;
    height: 60%;
    position: relative;
    margin: auto;
    margin-top: 150px;
    background-color: #ffffff;
    opacity: .80;
}

.sign_up {
    height: 500px;
    margin: auto;
    text-align: center;
}

.button {
    background-color: #aaaaaa; 
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    width: 30%;
    height: 100px;
    border-radius: 15px;
}

.fb_button {
    background-color: #3b5998; 
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    text-decoration: none;
    font-size: 25px;
    width: 30%;
    height: 100px;
    border-radius: 15px;
}

.fb_login {
    background-color: #3b5998; 
    color: white;
    border: none;
    text-align: center;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    text-decoration: none;
    width: 170px;
    height: 50px;
    border-radius: 15px;
    float: left;
    margin-top: -95px;
    right: -100px;
    margin-left: 620px;
}