html{
 	background-color: #137458;
 	color: white;
}
body { 
	font-family: Arial;
	position: relative;
	padding: 0;
	margin: auto; 
	width: 500px;
	text-align: center
}
button {
	display: block;
 	background-color: #543544;
 	color: white;
 	border-style: none;
 	border-radius: 10px;
 	padding: 2% 2% 2% 2%;
 	margin-bottom: 2%;
 	margin-top: 2%;
 	margin-left: auto;
 	margin-right: auto;
 	font-size: 1em;
}

.inline {
	display: inline;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #0066FF;
}