@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
    height:100%;
    background-color: #d8d8d8;
    margin:0px;
    width: 100%;
}

html {
	height: 100%;
	width: 100%;

}

p{
    text-align: center;
    margin: auto;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;

}

h1{
    text-align:  center;
    font-size: 20px;
    font-family: 'Bree Serif', serif;

}

/* Header Styles */
.header {
    width:100%;
    height:75px;
    background-color: #137458;
    overflow: hidden;
}

#logo{
    padding-left: 15px;
}

/* Search bar */
.search_container{
	position: absolute;
	right: 0px;
	padding-right: 15px;
	margin-top: -100px;
	border-radius: 5px;
}


.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

 /* Search bar - Form wrapper styling */
.search-wrapper {
width: 250px;
margin: 45px auto 50px auto;
box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}

/* Search bar - Form text input */
.search-wrapper input {
width: 168px;
height: 20px;
padding: 10px 5px;
float: left;
font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
border: 0;
background: #EEE;
border-radius: 3px 0 0 3px;
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Search bar - Form submit button */
.search-wrapper button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	height: 40px;
	width: 72px;
	color: white;
	text-transform: uppercase;
	background: #aaaaaa;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.search-wrapper button:hover{
    background: #599d8a;
}

.search-wrapper button:active,
.search-wrapper button:focus{
    background: #599d8a;
    outline: 0;
}

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

.pics img {
    position: relative;
    float: left;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding: 10px;
}

 li {
    list-style: none;
    font-family: 'Bree Serif', serif;
    text-align: center;
    margin-bottom: -40px;
}

.pics input {
    visibility:hidden;
}

form {
    background-color: white;
}

.pics {
    margin: auto auto;
    width: 100%;
    background-color: white;
}