<!DOCTYPE html>
<html>
<!--Head Info-->
  <head>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='/javascript/lib/cupertino/jquery-ui.min.css' />
    <script src='/javascript/lib/jquery.min.js'></script>
    <script src='/javascript/lib/jquery-ui.custom.min.js'></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleWeekView.css"> <!-- CHANGE TO ADMIN IF NEEDED -->
    <title>Tutor Me - Admin page</title>
    <link rel="icon" href="/images/favicon.png"> <!-- favicon not yet made -->
    <script src="/javascript/socket.io/socket.io.js"></script>

    <script>

        var USERPAGE = 1;
        var CHATPAGE = 2;
        var pageType = 0;


        function updateSelection()
        {
            var selectE = document.getElementById("DBinfo");
            var selectedE = selectE.options[selectE.selectedIndex];
            var div = document.getElementById('elemInfo');
            div.innerHTML = selectedE.id;
        }

        $(document).ready(function() {
            if(<%-result %> == false)
            {
                alert("Sorry, but you don't have access to the admin page. Please login with an admin account.");
                window.location.href = '/';
            }
            else
            {
                //ADMIN HAS ACCESS TO ALL THE FEATURES OF THE PAGE
                var div = document.getElementById('sensitiveInfo');
                var usersButton = document.createElement('BUTTON');
                usersButton.innerHTML = "USERS";
                usersButton.id = 'BTNUSERS';
                usersButton.onclick = function()
				{
					window.location.href = '/admin/users';
				}
                var chatsButton = document.createElement('BUTTON');
                chatsButton.innerHTML = "CHATS";
                chatsButton.id = 'BTNCHATS';
                chatsButton.onclick = function()
				{
                    window.location.href = '/admin/chat';
				}
                div.appendChild(usersButton);
                div.appendChild(chatsButton);

                var info = <%- JSON.stringify(info) %>;

                if(info != null)
                {
                    var div = document.getElementById('DBinfo');
                    for(var i=0; i < info.length; i++)
                    {
                        var newOption = document.createElement('OPTION');
                        newOption.id = JSON.stringify(info[i], null, 2);
                        if(info[i].username == undefined)
                        {
                            newOption.innerHTML = info[i].roomName;
                            pageType = CHATPAGE;
                        }
                        else
                        {
                            newOption.innerHTML = info[i].username;
                            pageType = USERPAGE;
                        }

                        div.appendChild(newOption);
                    }
                    div = document.getElementById('modifyDB');
                    var deleteButton = document.createElement('BUTTON');
                    deleteButton.innerHTML = "DELETE";
                    deleteButton.id = 'BTNDELETE';
                    deleteButton.onclick = function()
    				{
                        if(pageType == USERPAGE)
                        {
                            var selectE = document.getElementById("DBinfo");
                            var selectedE = selectE.options[selectE.selectedIndex];
                            window.location.href = '/admin/delete&username=' + selectedE.value;
                        }
                        else if(pageType == CHATPAGE)
                        {
                            var selectE = document.getElementById("DBinfo");
                            var selectedE = selectE.options[selectE.selectedIndex];
                            window.location.href = '/admin/delete&roomname=' + selectedE.value;
                        }
    				}
                    var updateButton = document.createElement('BUTTON');
                    updateButton.innerHTML = "UPDATE";
                    updateButton.id = 'BTNUPDATE';
                    updateButton.onclick = function()
    				{
                        var socket = io.connect('http://localhost:4200');
                        socket.on('connect', function(data) {
                            var elemInfo = document.getElementById('elemInfo');
                            var myJSONObj = JSON.parse(elemInfo.value);
                            if(pageType == USERPAGE)
                            {
                                socket.emit('updateDBEntryUser', JSON.stringify(myJSONObj));
                            }
                            else if(pageType == CHATPAGE)
                            {
                                socket.emit('updateDBEntryChat', JSON.stringify(myJSONObj));
                            }
                            socket.on('failedDB', function(data) {
                                alert("Some unexpected problem happened on saving your data. Please try again.");
                            });
                            socket.on('success', function(data) {
                                alert("Data updated.");
                            });
                        });
    				}
                    div.appendChild(deleteButton);
                    div.appendChild(updateButton);

                }


                updateSelection();
            }

        });

    </script>

  </head>

<!-- Header bar -->
<div class="header">
    <a href="/"><img  id="logo" src="/images/logo.png" alt="Logo"></a>
</div>

<div class="content">
<h1>Admin page</h1>

<div id='sensitiveInfo'>

</div>
<br>
<select onChange='updateSelection()' id ="DBinfo">

</select>
<br/>
<br/>
<textarea rows=10 cols=100 id='elemInfo'></textarea>
<br/>
<br/>
<div id="modifyDB">

</div>

</div>

</html>
