<!DOCTYPE html>
<html>
<!--Head Info-->
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/editprofilestyle.css">
    <title>Tutor Me</title> 
    <link rel="icon" href="images/favicon.png"> <!-- favicon not yet made -->
  </head>

    <body>
    <!-- Header bar -->
        <div class="header">
            <a href="/"><img  id="logo" src="images/logo.png" alt="Logo"></a></div>
        <div class="search_container">
            <form action="/searchFind" method='post' class="search-wrapper cf">
                <input type="text" placeholder="Search..." required="">
                <button type="submit">Search</button>
            </form>
        </div>
		
        <div id="profile">
        	<div class="left">
                <div class="right">
        	        <img id="profilepic" src="/images/profile.jpg" alt="Profile Picture">
                    <button class="button" id="updatepic">Update Profile Picture</button>
                </div>
        		<div id="profileinfo">
                    <form action="/editingProfile" method='post'>
                    <fieldset>
                    <legend>Profile Information:</legend><br>
        			Name: <input type="text" name="name" size="30" placeholder=<%=userinfo.name%>><br><br>
                    Phone Number: <input type="text" name="number" placeholder=<%=userinfo.phone%>><br><br>
                    Email: <input type="text" name="email" placeholder=<%=userinfo.email%>><br><br>
                    City: <input type="text" name="city" placeholder=<%=userinfo.location.city%>><br><br>
                    Country: <input type="text" name="country" placeholder=<%=userinfo.location.country%>><br><br>
                    Tutoring: <input type="text" name="tutors" size="40" placeholder=<%=userinfo.subjects%>><br><br>
                    Base Rate Per Hour: <input type="text" name="rate" placeholder=<%=userinfo.rate%>><br><br>
                    Occupation: <input type="text" name="occupation" size="30" placeholder=<%=userinfo.occupation%>><br><br>
                    Education: <input type="text" name="education" placeholder=<%=userinfo.education%>><br><br>
                    Past Experience: <br><br><textarea rows="4" cols="100" name="experience" placeholder=<%=userinfo.experience%>></textarea><br><br>
                    About Me: <br><br><textarea rows="7" cols="100" name="about" placeholder=<%=userinfo.about%>></textarea><br><br>
                    <button class="button">Update Profile</button>
                    </fieldset>
                    </form>
        		</div>
        	</div>
        </div>
    </body>

</html>  