<!DOCTYPE html>
<html>
<!--Head Info-->
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/homepage_inital.css">
    <title>Tutor Me: Login or Sign Up</title> 
    <link rel="icon" href="/images/favicon.png"> 
  </head>

<!-- Header bar -->
<div class="header">
	<a href="/"><img  id="logo" src="/images/logo.png" alt="Logo"></a>
</div>

<div class="login_container">
	<form method="post" action="/loginAuthentication" class="search-wrapper cf">
        <input style="margin-right: 5px" type="text" name="username" placeholder="Username" required="">
        <input style="margin-right: 5px" type="text" name="password" placeholder="Password" required="">
        <button type="submit">Login</button>
    </form>
</div>

<div class="info_background">
  <div class="site_info">
    <h1> Welcome to Tutor Me! </h1>
    <p> Tutor Me is a tutor match-making site, emphasizing affordable and convenient tutor sessions with local tutors in your area. We aim to be a premiere tutoring site for the students, by the students. Through our peer-to-peer network, students can request for tutoring and/or become a tutor themselves.<br><br>

    Are you a struggling student in a course, and need to get that A+ average? Worry no more! Schedule a session with our many available tutors to get that well deserved A. <br><br>

    Overachieving students need not to worry either! Tutor Me is always looking for well distinguished students to spread the knowledge. Simply sign up for a tutoring account, and help your fellow peers.
    </p>
  </div>
</div>

  <div class="sign_up">
    <h2>Get started! Sign up now.</h2>
    <a href="signup"><button class="button" type="button" id="reg">Sign Up!</button></a>
  </div>

</html>  