<!DOCTYPE html>
<html>

<!--Head Info-->
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/homepage_user.css">
    <title>Tutor Me: Home</title> 
    <link rel="icon" href="/images/favicon.png"> 
  </head>

<!-- Header bar -->
<div class="header">
  <a href="/"><img  id="logo" src="/images/logo.png" alt="Logo"></a></div>
</div>

<div class="search_container">
  <form action="/searchFind" method='post' class="search-wrapper cf">
        <input name='search' type="text" placeholder="Search..." required="">
        <button type="submit">Search</button>
    </form>
</div>

<div id='cssmenu'>
<ul>
   <li class='active'><a href='/editProfile'><span>Edit Your Profile</span></a></li>
   <li><a href='/review'><span>Review A Tutor</span></a></li>
   <li><a href='/message'><span>Your Messages</span></a></li>
</ul>
</div>


<div id='subjects'>
<ul>
<form action="/searchSubject"  method='post'>
  <li>  
    <label for="math"><h3>View Math Tutors</h3></label>
    <input onChange='this.form.submit();' type="radio" name="subject" id="math" value="Math">
  </li>

  <li>  
    <label for="bio"><h3>View Biology Tutors</h3></label>
    <input onChange='this.form.submit();' type="radio" id="bio" name="subject" value="Biology">
  </li>

  <li>  
    <label for="chem"><h3>View Chemistry Tutors</h3></label>
    <input onChange='this.form.submit();' type="radio" id="chem" name="subject" value="Chemistry">
  </li>

  <li>  
    <label for="phys"><h3>View Physics Tutors</h3></label>
    <input onChange='this.form.submit();' type="radio" id="phys" name="subject" value="Physics">
  </li>

  <li>  
    <label for="geo"><h3>View Geography Tutors</h3></label>
    <input onChange='this.form.submit();' type="radio" id="geo" name="subject" value="Geography">
  </li>

  <li>  
    <label for="eng"><h3>View English Tutors</h3></label>
    <input onChange='this.form.submit();' type="radio" id="eng" name="subject" value="English">
  </li>

  <li>  
    <label for="his"><h3>View History Tutors</h3></label>
    <input onChange='this.form.submit();' type="radio" id="his" name="subject" value="History">
  </li>
</ul>
</form>
</div>


</html>  