<!DOCTYPE html>
<html>
<!--Head Info-->
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/message_style.css">
    <title>Tutor Me: Send message</title>
    <link rel="icon" href="images/favicon.png"> <!-- favicon not yet made -->
    <script src='javascript/lib/jquery.min.js'></script>

    <script>

    $(document).ready(function(){
        function enterSubmit(e){
          if(e.keyCode==13)
          {
            $('#sendMsg').click();
            $('#myMsg').keypress(enterSubmit);
            $('#myMsg').focus();
            $('#messageBoard').animate({
                scrollTop: $('#messageBoard').get(0).scrollHeight
            }, 1500);
            //$('#messageBoard').scrollTop($('#messageBoard').height());
          }

        }
        $('#myMsg').keypress(enterSubmit);
});

    </script>
  </head>

<!-- Header bar -->
<div class="header">
  <a href="/"><img  id="logo" src="images/logo.png" alt="Logo"></a></div>

<div class="search_container">
  <form action="/search" class="search-wrapper cf">
        <input type="text" placeholder="Search..." required="">
        <button type="submit">Search</button>
    </form>
</div>

<div class="userlist">
<button class="user">John Smith</button>
</div>

<div class="prev_msg" id=messageBoard>
  <div class="msg1">
  <p>Hi, I would like to hire you as my tutor! </p>
  </div>
  <div class="msg2">
  <p>Hi, I would like to hire you as my tutor! </p>
  </div>

  <div class="send_msg">
    <div class="send">
        <input type="text" placeholder="Write Message" required="" id=myMsg>
        <button type="button" onclick="addMyMsg()" id="sendMsg">Send</button>
    </div>
</div>

</div>

<script>
    function addMyMsg(){
        if($('#myMsg').val() != "")
        {
                $('#messageBoard').html($('#messageBoard').html() + "<div class='msg1'><p>" + $('#myMsg').val() + "</p></div>");
        }

        //TODO: Save the new message to the database
    }
</script>

</html>
