<!DOCTYPE html>
<html>
<!--Head Info-->
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/message_style.css">
    <title>Tutor Me: Send message</title>
    <link rel="icon" href="images/favicon.png"> <!-- favicon not yet made -->
    <script src="http://code.jquery.com/jquery-1.12.2.js"></script>

    <script>

    /*Function to assign the enter key on the message panel to the click
      function of the message */
    function assureEnterWorking()
    {
        function enterSubmit(e)
        {
          if(e.keyCode==13)
          {
            $('#send').click();
            $('#m').focus();
            $('#messageBoard').animate({
                scrollTop: $('#messageBoard').get(0).scrollHeight
            }, 1500);
          }
        }
        $('#m').focus();
        $('#m').keydown(enterSubmit);
    }

    //Calls the assureEnterWorking on page startup
    $(document).ready(function(){
        assureEnterWorking()
    });

    </script>
  </head>

<!-- Header bar -->
<div class="header">
  <a href="/"><img  id="logo" src="images/logo.png" alt="Logo"></a></div>

<div class="search_container">
  <form action="/searchFind" method='post' class="search-wrapper cf">
        <input type="text" placeholder="Search..." required="">
        <button type="submit">Search</button>
    </form>
</div>

<div class="userlist">
<button class="user">John Smith</button>
</div>

<div class="prev_msg" id="messageBoard">

  <div class="send_msg">
    <div class="send">
        <input id="m" autocomplete="off" />
        <button onclick="sendMSG()" id="send">Send</button>
    </div>
  </div>

</div>
<script src="javascript/socket.io/socket.io.js"></script>
<script>

    var room = -1;
    var socket = io.connect('http://localhost:4200');

    chatData = {user:<%- JSON.stringify(logged) %>, receiver:<%- JSON.stringify(receiver) %>}

    /* Send information to server to identify the user that is logged in */
    socket.emit('subscribe', chatData);

    /* Gets new messages from the server and updates the page accordingly */
    socket.on('message', function(data){
        var myUser = <%- JSON.stringify(logged) %>;
        console.log(data);
        if(myUser == data.sender)
        {
                $('#messageBoard').html($('#messageBoard').html() + "<div class='msg2'><p>" + data.msg + "</p></div>");
        }
        else
        {
                $('#messageBoard').html($('#messageBoard').html() + "<div class='msg1'><p>" + data.msg + "</p></div>");
        }

        //At each update, has to make sure that enter is still working
        assureEnterWorking();

    });


    socket.on('message log', function(data){

      room = data.room;
      var log = data.log;

      for(var i = 0; i < log.length; i++){
          var myUser = <%- JSON.stringify(logged) %>;
          if(myUser == log[i].sender)
          {
                  $('#messageBoard').html($('#messageBoard').html() + "<div class='msg2'><p>" + log[i].msg + "</p></div>");
          }
          else
          {
                  $('#messageBoard').html($('#messageBoard').html() + "<div class='msg1'><p>" + log[i].msg + "</p></div>");
          }
      }

      assureEnterWorking();

    });

    function sendMSG(){
        var data = {msg:$('#m').val(), room:room, sender:<%- JSON.stringify(logged) %>};
        socket.emit('message', data);
        $('#m').val('');
        assureEnterWorking();
        return false;
    }



</script>

</html>
