<!DOCTYPE html>
<html>
<!--Head Info-->
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/profilestyle.css">
    <title>Tutor Me</title> 
    <link rel="icon" href="/images/favicon.png"> <!-- favicon not yet made -->
  </head>

    <body>
    <!-- Header bar -->
        <div class="header">
            <a href="/"><img  id="logo" src="/images/logo.png" alt="Logo"></a>        </div>
        <div class="search_container">
            <form action="search" class="search-wrapper cf">
                <input type="text" placeholder="Search..." required="">
                <button type="submit">Search</button>
            </form>
        </div>
		
        <div id="profile">
        	<div class="inline">
        		<img id="profilepic" src="/images/profile.jpg" alt="Profile Picture">
        		<div id="profileinfo">
        			<p>Name: SpongeBob SquarePants</p>
        			<p>Occupation: Third Year CS Specialist Student</p>
        			<p>Education: University of Toronto</p>
        			<p>Past Experience: ...</p>
        			<p>About Me: ...</p>
        		</div>
        		<div id="tutorinfo">
        			<p class="center">Tutor Information</p>
                    <p>Overall Rating: ...</p>
        			<p>Phone Number: (647)-911-9911</p>
        			<p>Email: example@mail.com</p>
        			<p>Location: Toronto, ON</p>
        			<p>Tutoring: Math, Physics, Computer Science</p>
        			<p>Base Rate Per Hour: ...</p>
                    <div class="inline">
                        <button class="button">See Schedule</button>
                        <button class="button">Send Message</button>
                    </div>
        		</div>
        	</div>
        </div>
        <div id="reviews">
        	<p>REVIEWS</p>
            <div class="review">
                <div class="inline review-content">
                    <div class="leftreview">
                        <img id="reviewpic" src="/images/profile.jpg" alt="Profile Picture">
                    </div>
                    <div class="rightreview">
                        <p>Rating: ...</p>
                        <p>(THE REVIEW)</p>
                    </div>
                </div>
                <div>
                    <p>SpongeBob SquarePants</p>
                </div>
                <div class="right">
                    <button class="ratereview">Useful</button>
                    <button class="ratereview">Not Useful</button>
                </div>
            </div>
            <div class="review">
                <div class="inline review-content">
                    <div class="leftreview">
                        <img id="reviewpic" src="/images/profile.jpg" alt="Profile Picture">
                    </div>
                    <div class="rightreview">
                        <p>Rating: ...</p>
                        <p>(THE REVIEW)</p>
                    </div>
                </div>
                <div>
                    <p>SpongeBob SquarePants</p>
                </div>
                <div class="right">
                    <button class="ratereview">Useful</button>
                    <button class="ratereview">Not Useful</button>
                </div>
            </div>
        </div>
    </body>

</html>  