<!DOCTYPE html>
<html>
<!--Head Info-->
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reviewstyle.css">
    <title>Tutor Me</title> 
    <link rel="icon" href="images/favicon.png"> <!-- favicon not yet made -->
  </head>

  <body>
  <!-- Header bar -->
    <div class="header">
      <a href="/"><img  id="logo" src="images/logo.png" alt="Logo"></a>    </div>
    <div class="search_container">
      <form action="/search" class="search-wrapper cf">
          <input type="text" placeholder="Search..." required="">
          <button type="submit">Search</button>
      </form>
    </div>

    <div>

      <h1> Review Your Tutor!!</h1>

    </div>

    <div>
      <p>Name: <input type="text" placeholder="Tutor Name"></p>
      
    </div>

    <div id="rating">
       <p>Rating:</p>
    </div>

    <div class="rating">
      <span>&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span><span>&#9734</span>
    </div>

    <div class="comentaries">
      <p>Comentaries:</p>
      <textarea></textarea>
    </div>

  </body>

</html>  