<!DOCTYPE html>
<html>
	<!--Head Info-->
	  <head>
	    <link rel="stylesheet" type="text/css" href="/stylesheets/searchstyle.css">
	    <title>Tutor Me</title> 
	    <link rel="icon" href="images/favicon.png"> 
	  </head>

	<!-- Header bar -->

	<body>

		<div class="header">
			<a href="/"><img  id="logo" src="images/logo.png" alt="Logo"></a>		</div>
		<div class="search_container">
			<form action="/searchFind" method='post' class="search-wrapper cf">
		        <input type="text" name='search' placeholder="Search..." required="">
		        <button type="submit">Search</button>
		    </form>
		</div>

<h3> Recommended Tutors </h3>

<!-- Replace tree pictures with user profile pics later -->
<ul class="rig columns-4">
	<% for(var i=0; i < results.length; i++){ %>
			<li>
				<img src="images/pri_001.jpg" />
				<h3><%= results[i].username %></h3>
				<p>Name: <%=results[i].name %></p>
			</li>
	<% } %>
</ul>



	</body>



</html>  