<!DOCTYPE html>
<html>
	<!--Head Info-->
	  <head>
	    <link rel="stylesheet" type="text/css" href="/stylesheets/searchstyle.css">
	    <title>Tutor Me</title> 
	    <link rel="icon" href="images/favicon.png"> 
	  </head>

	<!-- Header bar -->

	<body>

		<div class="header">
			<a href="/"><img  id="logo" src="images/logo.png" alt="Logo"></a>		</div>
		<div class="search_container">
			<form action="/searchFind" method='post' class="search-wrapper cf">
		        <input type="text" name='search' placeholder="Search..." required="">
		        <button type="submit">Search</button>
		    </form>
		</div>

<h3> Recommended Tutors </h3>
<h3> Search Results </h3>
<!-- Replace tree pictures with user profile pics later -->

<!-- Username -->
<% if (uname) { %>
	<h3> Tutors with the username <%=search %> </h3>
	<ul class="rig columns-4">
		<li>
			<img src="images/pri_001.jpg" />
			<h3><%= uname.username %></h3>
			<p>Name: <%=uname.name %></p>
		</li>
	</ul>
<% } %>

<!-- Name -->
<% if (names && names.length >0) { %>
	<h3> Tutors with the name <%=search %> </h3>
	<ul class="rig columns-4">
		<% for(var i=0; i < names.length; i++){ %>
		<li>
			<img src="images/pri_001.jpg" />
			<h3><%= names[i].username %></h3>
			<p>Name: <%=names[i].name %></p>
		</li>
		<% } %>
	</ul>
<% } %>

<!-- Price -->
<% if (price && price.length >0) { %>
	<h3> Tutors with the rate of $<%=search %> </h3>
	<ul class="rig columns-4">
		<% for(var i=0; i < price.length; i++){ %>
		<li>
			<img src="images/pri_001.jpg" />
			<h3><%= price[i].username %></h3>
			<p>Name: <%=price[i].name %></p>
		</li>
		<% } %>
	</ul>
<% } %>

<!-- Subject -->
<% if (subject && subject.length >0) { %>
	<h3> Tutors who teach <%=search %> </h3>
	<ul class="rig columns-4">
		<% for(var i=0; i < subject.length; i++){ %>
		<li>
			<img src="images/pri_001.jpg" />
			<h3><%= subject[i].username %></h3>
			<p>Name: <%=subject[i].name %></p>
		</li>
		<% } %>
	</ul>
<% } %>

	</body>

</html>  

