<!DOCTYPE html>
<html>
<!--Head Info-->
  <head>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='javascript/lib/cupertino/jquery-ui.min.css' />
    <link rel='stylesheet' href='javascript/fullcalendar/fullcalendar.css' />
    <link href='javascript/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
    <script src='javascript/lib/jquery.min.js'></script>
    <script src='javascript/lib/moment.min.js'></script>
    <script src='javascript/fullcalendar/fullcalendar.js'></script>
    <script src='javascript/fullcalendar/fullcalendar.min.js'></script>
    <script src='javascript/lib/jquery-ui.custom.min.js'></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleWeekView.css">
    <title>Tutor Me - Registration Page</title>
    <link rel="icon" href="images/favicon.png"> <!-- favicon not yet made -->

    <script>

    $(document).ready(function() {

        /* initialize the calendar
        -----------------------------------------------------------------*/

        var eventsReceived = <%- JSON.parse(events) %>;

		$('#calendar').fullCalendar({
            theme: true,
            customButtons: {
                myCustomButton: {
                    text: 'week',
                    click: function() {
                        $("#calendar").fullCalendar('changeView', 'agendaWeek');
                    }
                }
            },
            header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,myCustomButton,basicDay'
			},
            defaultView: 'agendaWeek',
            //defaultDate: '2016-01-12',
			editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: eventsReceived,

            eventClick: function(calEvent, jsEvent, view) {

                if(calEvent.title != "Available Slot")
                {
                    alert("Sorry. This slot is not available.");
                    return;
                }

                //Change the border color of the event to red
                $(this).css('border-color', 'red');

                if(confirm("Do you want to reserve this timeslot?")){
                    //Mark event as reserved
                    calEvent.title = <%- JSON.stringify(uname_logged) %>;
                    calEvent.color = '#EF6C00';
                    $('#calendar').fullCalendar('updateEvent', calEvent);
                    //TODO: Save changes to database here
                }
                //return border to previous color

                $(this).css('border-color', '#3a87ad');
            }

		});

	});
    </script>
  </head>

<!-- Header bar -->
<div class="header">
    <a href="/"><img  id="logo" src="images/logo.png" alt="Logo"></a></div>
</div>
<div class="search_container">
	<form action="/search.html" class="search-wrapper cf">
        <input type="text" placeholder="Search..." required="">
        <button type="submit">Search</button>
    </form>
</div>
<div class="content">
<h1>Schedule for <i><%=uname %></i></h1>
<div id='calendar'></div>

</div>

</html>
